/vendor/aravis-*
#configure/*.local
O.*/
/bin/
/cmake-build-debug/
/lib/
/dbd/
/db/
/data/
/iocs/example/
/iocs/example_sim/
/iocs/*/bin/
/iocs/*/lib/
/iocs/*/dbd/
/iocs/*/db/
/iocs/*/data/
.project
.cproject
.settings/
*_BAK.adl
envPaths*
cdCommands
dllPath.bat
auto_settings.sav*
*~
*.swp
.idea/

